* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

.layoutContainer {
  margin: auto;
  border: 1px solid grey;
  width: 80%;
  background-color: lightgray;
}

@media screen and (max-width: 1040px) {
  .layout-container {
    width: 100%;
  }
}
