.header-container {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  background-image: url("../../../assets/Images/hero/joplin2.jpeg");
  background-position: center;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.slide-container {
  width: 33%;
  height: 450px;
  margin: 0 auto;
}

.header-links {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 2rem;
  margin-right: 100px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-img {
  background-color: rgb(72, 72, 72, 0.75);
  height: 250px;
  width: 250px;
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

.link-image {
  height: 250px;
  width: 250px;
  background-image: cover;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .header-container {
    margin-top: 55px;
    background-color: bisque;
    width: 100%;
    height: 60vh;
    display: grid;
    padding-top: 50px;
    padding-bottom: 550px;
  }

  .slide-container {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-bottom: 3rem;
    grid-template-columns: 1fr;
  }

  .header-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .header-container {
    padding-bottom: 850px;
  }
  .header-links {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .slide-container {
    width: 90%;
    height: 450px;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .header-links {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .link-image {
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
  }

  .front-img {
    height: 100px;
    width: 100%;
  }

  .img-container {
    width: 100%;
    height: 100px;
  }
}
